  <table id="clidesTable">
    <tr>
      <th>Name</th>
      <th>Memory</th>
      <th>Disk</th>
      <th>Private</th>
      <th>Colaboration</th>
      <th>Community</th>
      <th>Sudo</th>
      <th>Ssh</th>
      <th>Ssl</th>
      <th>Hosted</th>
      <th>Source</th>
<% if @is_admin %>
      <th></th><th></th><th></th>
<% end %>
    </tr>

<%
  def yes_or_no a_bool ; (a_bool == !!a_bool)? ((a_bool)? "yes" : "no") : "?" ; end ;
  def parse_range an_int , another_int
    (!an_int     .is_a? Fixnum) ? "?" :
    (!another_int.is_a? Fixnum) ? "?" :
    (an_int == -1)              ? "∞"         :
    (an_int == another_int)     ? "#{an_int}" : "#{an_int}-#{another_int}"
  end

  @clides.each do |clide|
%>
    <tr>
      <td><%= link_to     clide.name ,      clide.url , :target => '_blank' %></td>
      <td><%= parse_range clide.memory_lo , clide.memory_hi                 %></td>
      <td><%= parse_range clide.space_lo ,  clide.space_hi                  %></td>
      <td><%= yes_or_no   clide.private                                     %></td>
      <td><%= yes_or_no   clide.colaboration                                %></td>
      <td><%= yes_or_no   clide.community                                   %></td>
      <td><%= yes_or_no   clide.sudo                                        %></td>
      <td><%= yes_or_no   clide.ssh                                         %></td>
      <td><%= yes_or_no   clide.ssl                                         %></td>
      <td><%= yes_or_no   clide.hosted                                      %></td>
  <% unless clide.source.blank? %>
      <td><%= link_to     clide.floss ,     clide.source                    %></td>
  <% else %>
      <td><%= clide.source                                                  %></td>
  <% end %>
  <% if @is_admin %>
      <td><%= link_to 'Show' , clide %></td>
      <td><%= link_to 'Edit' , edit_clide_path(clide) %></td>
      <td><%= link_to 'Destroy' , clide , :method => :delete , :data => { confirm: 'Are you sure?' } %></td>
  <% end %>
    </tr>
<% end %>
  </table>

  <br />

<%= link_to 'New Clide', new_clide_path if @is_admin %>
