<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @clide.name %>
</p>

<p>
  <b>Url:</b>
  <%= @clide.url %>
</p>

<p>
  <b>Memory lo:</b>
  <%= @clide.memory_lo %>
</p>

<p>
  <b>Memory hi:</b>
  <%= @clide.memory_hi %>
</p>

<p>
  <b>Space lo:</b>
  <%= @clide.space_lo %>
</p>

<p>
  <b>Space hi:</b>
  <%= @clide.space_hi %>
</p>

<p>
  <b>Private:</b>
  <%= @clide.private %>
</p>

<p>
  <b>Colaboration:</b>
  <%= @clide.colaboration %>
</p>

<p>
  <b>Community:</b>
  <%= @clide.community %>
</p>

<p>
  <b>Sudo:</b>
  <%= @clide.sudo %>
</p>

<p>
  <b>Ssh:</b>
  <%= @clide.ssh %>
</p>

<p>
  <b>Ssl:</b>
  <%= @clide.ssl %>
</p>

<p>
  <b>Hosted:</b>
  <%= @clide.hosted %>
</p>

<p>
  <b>Floss:</b>
  <%= @clide.floss %>
</p>

<p>
  <b>Source:</b>
  <%= @clide.source %>
</p>


<%= link_to 'Edit', edit_clide_path(@clide) %> |
<%= link_to 'Back', clides_path %>
