<!DOCTYPE html>
<html>
<head>
  <title>ClIDEwatch</title>
  <%= stylesheet_link_tag    "application" , :media => "all" %>
  <%= stylesheet_link_tag    "home"        , :media => "all" %>
  <%= javascript_include_tag "home"                          %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="headerDiv" ><%= yield :header %></div>

<div id="contentDiv"><%= yield         %></div>


</body>
</html>

